networks:
  fullstack: ~

volumes:
  mysql_data: ~
  shared_composer:
    external: true
  shared_pnpm:
    external: true


services:
  proxy:
   image: nginx:1.29.0-alpine3.22
   ports:
    - 80:80
   volumes:
     - ./proxy/nginx.conf:/etc/nginx/nginx.conf
     - ./proxy/conf.d:/etc/nginx/conf.d
   networks:
    - fullstack
   depends_on:
    - phpmyadmin
    - webserver
    - swagger
    - frontend

  frontend:
    image: idomi27/vue:26
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/app:rw
      - ./.env:/app/.env:ro
      - shared_pnpm:/shared_pnpm
    networks:
      - fullstack

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend/php.ini:/usr/local/etc/php/conf.d/php.ini:ro
      - ./backend:/www:rw
      - ./.env:/www/.env:rw
      - shared_composer:/home/phpdocker/.composer
    networks:
      - fullstack
    depends_on:
      db:
       condition: service_healthy

  webserver:
    image: nginx:1.29.0-alpine3.22
    volumes:
      - ./webserver/nginx.conf:/etc/nginx/nginx.conf
      - ./webserver/conf.d:/etc/nginx/conf.d
    networks:
      - fullstack
    depends_on:
      - backend

  db:
    image: mysql:9.3.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      TZ: ${TZ}
    volumes:
      - mysql_data:/var/lib/mysql:rw
    networks:
      - fullstack
    healthcheck:
      test: /usr/bin/mysql --user=root --password=$DB_ROOT_PASSWORD --execute "SHOW DATABASES;"
      timeout: 5s
      retries: 18

  phpmyadmin:
    image: rcsnjszg/phpmyadmin:5.2.2-apache
    depends_on:
      db:
        condition: service_healthy
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      PMA_ABSOLUTE_URI: http://pma.vm1.test
      UPLOAD_LIMIT: 100M
    networks:
      - fullstack

  swagger:
    image: swaggerapi/swagger-ui:v5.25.3
    volumes:
      - ./swagger/openapi.yaml:/docs/openapi.yaml
    environment:
      - SWAGGER_JSON=/docs/openapi.yaml
      - DISPLAY_OPERATION_ID=true
      - VALIDATOR_URL=null
    networks:
      - fullstack

  docs:
    image: idomi27/docs:26
    volumes:
      - ./docs/content:/app/content:ro
      - ./docs/public:/app/public:ro
      - ./.env:/app/.env:ro
    networks:
      - fullstack